@page "{id}"
@model ProjectDB.Pages.Students.EditModel
@{
}
<h3>Student1 to edit @Model.Id</h3>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Student_Name"></label>
        <input asp-for="@Model.Student_Name" class="form-control"/>
    </div>
     <div class="form-group">
        <label asp-for="@Model.Gender"></label>
        <input asp-for="@Model.Gender" class="form-control"/>
    </div>
        <div class="form-group">
        <label asp-for="@Model.MobileNumber"></label>
        <input asp-for="@Model.MobileNumber" class="form-control"/>
    </div>
     <div class="form-group">
       <h6 class="text-success">@Model.SuccessMessage</h6>
       <h6 class="text-danger">@Model.ErrorMessage</h6>
       <h6 class="text-danger">@Html.ValidationSummary()</h6>
    </div>
    <div>
        <button type="submit" class="btn btn-success">SAVE</button>
        <a href="/Students/List" class="btn btn-light" role="button">CANCEL</a>
    </div>
</form>

